/* Coolors Exported Palette - coolors.co/fbfef9-90bddf-ba2d0b-1b264f-191816 */

$color1: #fbfef9; //rgba(251, 254, 249, 100)
$color2: #90bddf; //rgba(144, 189, 223, 100)
$color3: #ba2d0b; //rgba(186, 45, 11, 100)
$color4: #1b264f; //rgba(27, 38, 79, 100)
$color5: #191816; //rgba(25, 24, 22, 100)