/* Coolors Exported Palette - coolors.co/134074-13315c-0b2545-eef4ed-90bddf */

$color1: #134074; //rgba(19, 64, 116, 100)
$color2: #13315c; //rgba(19, 49, 92, 100)
$color3: #0b2545; //rgba(11, 37, 69, 100)
$color4: #eef4ed; //rgba(238, 244, 237, 100)
$color5: #90bddf; //rgba(144, 189, 223, 100)